@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background: teal;
}

.search {
    --size: 60px;
    border: 2px solid black;
    display: flex;
    border-radius: 500px;
    height: var(--size);
    width: var(--size);
    padding: 3px;
    position: relative;
    transition: width 0.6s cubic-bezier(0.18, 0.89, 0.32, 1.15);
    overflow: hidden;
}

.input {
    flex-grow: 1;
    font-size: 1.5rem;
    padding: 0 0.5rem;
    background: transparent;
    padding: 0 0.5em;
    border: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    line-height: calc(var(--size) - 10px);
    opacity: 0;
    cursor: pointer;
}

.input:focus {
    outline: 0;
    opacity: 1;
    cursor: initial;
    background: white;
    width: calc(100% - var(--size));
}

.search:focus-within {
    width: 30%;
}

.btn {
    font-size: 1.5rem;
    cursor: pointer;
    border: 0;
    background: green;
    border-radius: 50%;
    width: calc(var(--size) - 10px);
    height: calc(var(--size) - 10px);
    margin-left: auto;
}